body {
  margin: 0 auto;
}
#preheader img {
  height: 5;
  width: 30px;
  border-radius: 50%;
}
#preheader {
  display: flex;
  justify-content: space-between;
}
#preheader a {
  margin-right: 4px;
}
#logosredes {
  width: 40vw;
  display: flex;
  justify-content: flex-start;
}
header {
  width: 100vw;
  display: flex;
  justify-content: center;
}
#main {
  display: flex;
  justify-content: flex-start;
}
nav {
  display: flex;
  flex-direction: column;
}
#categorias {
  height: 50px;
  width: 25vw;
  background-color: grey;
  text-align: center;
}
.categoria {
  height: 150px;
  width: 25vw;
  background-color: lightgrey;
  text-align: center;
}
section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
article img {
  height: 300px;
  width: 300px;
  margin-right: 25px;
  margin-bottom: 25px;
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #BDBDBD;
  height: 100px;
  margin-top: 100px;
  text-align: center;
}
#copyright {
  padding-left: 10px;
}
#redestexto {
  padding-right: 10px;
}
#redestexto a {
  margin-left: 5px;
}
